*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
display: flex;

    justify-content: center;
}

#img1{
height:300px;
margin:200px;

}
button{
    position: absolute;
    margin:550px;
    padding:20px 20px;
    border-radius: 50px;
    border: none;
    background-color: aqua;
    cursor: pointer;
}